<script type="application/ld+json">
{
  "@context":"https://schema.org",
  "@type":"ResearchOrganization",
  "name":"Cavalli Lab",
  "url":"https://cavalli-lab.org/",
  "sameAs":[
    "https://www.igh.cnrs.fr/",
    "https://www.igh.cnrs.fr/en/",
    "https://www.igh.cnrs.fr/en/research/departments/genome-dynamics/chromatin-and-cell-biology"
  ],
  "department":"Institute of Human Genetics (IGH), CNRS UMR9002",
  "address":{
    "@type":"PostalAddress",
    "addressLocality":"Montpellier",
    "addressCountry":"FR",
    "streetAddress":"141 rue de la Cardonille",
    "postalCode":"34090"
  },
  "logo":"https://cavalli-lab.org/images/icon.png",
  "founder": { "@type": "Person", "name": "Giacomo Cavalli" }
}
</script>